td, th {
    text-align: center;
}

.firstColumn {
    text-align: left;
    width:20%;
}

h2 {
    text-align: center;
}

.container button[data-toggle='modal']{
    display:inline;
    width: auto;
    margin-left: auto;
}

.container #calculate {
    display:inline;
    width: auto;
    margin-right: auto;
}

form .input-group {
    width: 250px;
}

#table {
    width: 800px;
}

#input-forms {
    padding-bottom: 20px;
}

#buttonsAndForms {
    display:flex;
    flex-direction: column;
}
.flex-area {
    display: flex;
    justify-content: space-between;
}