td, th {
    text-align: center;
}

.firstColumn {
    text-align: left;
    width:20%;
}

h2 {
    text-align: center;
}

form .input-group {
    width: 250px;
}

#table {
    width: 800px;
}

#input-forms {
    padding-bottom: 20px;
}

#buttonsAndForms {
    display:flex;
    flex-direction: column;
}

.flex-area {
    display: flex;
    justify-content: space-between;
}

#table-container {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

#main-page-table {
    width: 450px;
    height: 400px;
}